.browser {
  color: #333;
  padding: 30px;
  margin: 10px;
  border-radius: 3px;
  width: fit-content;
  
  transition: .3s;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      transition: .1s;
      transform: scale(.9);
      z-index: -1;
    }

  &:hover::before {
    box-shadow: 0 0 15px white;
  }

  &:hover {
    box-shadow: 0 0 5px white;
    text-shadow: 0 0 5px white;
  }
}