.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: black;
}

.header a {
  background-color: crimson;
  padding: 5px 8px;
  border-radius: 5px;
}

.header h2 {
  margin: 0;
  font-size: 1.4rem;
}

.content {
  margin: 20px 50px;
}